@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap");

body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: #f4f6fa;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4f6fa;
  height: fit-content;
}

.companyName {
  padding-top: 30px;
  width: 100%;
  text-align: start;
  padding-left: 35;
}
.companyName h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #676a6c;
  font-size: 24px;
  align-items: center;
}
#goalsStats {
  width: 100%;
  padding: 5px 35px 5px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.stats {
  width: 30%;
  padding: 10px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: #676a6c;
}
#goalsBody {
  width: 100%;
  padding: 10px 35px 100px 35px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
}
#goalsTableHead {
  width: 100%;
  padding: 15px 15px 7px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e3f3fd;
  border: 1px solid #e7eaec;
}
#goalsTableHead h5 {
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
  font-weight: 600;
  margin-bottom: 7px;
}
#goalsTableHead a {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
  margin-bottom: 5px;
}

#goalsTableBody {
  width: 100%;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
  background-color: #ffffff;
  padding: 15px 20px 20px 20px;
  border: 1px solid #e7eaec;
}
.modal-dialog {
  min-width: 600px;
}
.modal .modal-dialog .modal-content {
  border-radius: 0px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 30px 15px;
  text-align: center;
  display: block;
}
.modal .modal-dialog .modal-content .modal-header h4 {
  font-size: 26px;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-header .close {
  margin-top: -2px;
  border: none;
  background-color: transparent;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity = 20);
  opacity: 0.2;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 20px;
  background-color: #f4f6fa;
}
.modal .modal-dialog .modal-content .modal-body label {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  color: #676a6c;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 0;
}

.modal .modal-dialog .modal-content .modal-body .beginning-part {
  font-size: 13px;
  display: block;
  text-align: center;
  border-bottom: 2px solid #e7eaec;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

.beginning-part .row {
  display: flex;
  flex-direction: column;
}
.beginning-part .row .sub_row {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-bottom: 10px;
}
.beginning-part .row .sub_row #selectInput {
  border: 1px solid #676a6c;
  background-color: #e7eaec;
  width: 60px;
  border-radius: 3px;
}
.beginning-part .row #selectedItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  border: 1px solid #e7eaec;
  background-color: #ffffff;
}
.beginning-part .row #selectedItems div {
  border: 1px solid #676a6c;
  margin: 2px 5px 2px 2px;
  padding: 2px;
  border-radius: 3px;
  background-color: #e7eaec;
  max-height: 22px;
}
.beginning-part .row #selectedItems div span {
  cursor: pointer;
  font-weight: 700;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 10px;
}
.beginning-part .row #goalSelect {
  font-size: 14px;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  padding: 5px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-radius: 6px;
}
.beginning-part .row #goalDetails {
  display: none;
  flex-direction: column;
  padding: 0;
  border-radius: 5px;
  margin-top: 10px;
}
.beginning-part .row #goalDetails input {
  width: 250px;
  height: 30px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 13px;
  border: 1px solid #e5e6e7;
  padding: 6px 12px;
  color: inherit;
}
.beginning-part .row #goalDetails textarea {
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 13px;
  border: 1px solid #e5e6e7;
  padding: 6px 12px;
  color: inherit;
}
.completedBar {
  display: flex;
  flex-direction: row;
  width: 97%;
}
.userAndValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}
.userAndValue p {
  width: 25%;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 40px;
  font-weight: 300;
  color: #2196f3;
}
.empty_space {
  height: 10px;
  width: 40%;
  border-radius: 5px;
  background-color: #f4f6fa;
  color: #676a6c;
  margin-bottom: 20px;
  margin-top: 15px;
}
.compStatus {
  height: 10px;
  width: 40%;
  margin-bottom: 20px;
  margin-top: 15px;
}
.compStatus .completedNr{
    padding: 3px 8px;
  background-color: #d1dade;
  color: #5e5e5e;
  font-size: 1.25em;
  margin-right: 20px;
  border-radius: 0.25em;
  font-weight: 600;
}
.empty_space .goal-bar {
  border-radius: 5px;
  height: 10px;
  width: 0%; /* Default width */
  background-color: #4caf50; /* Default Green */
  transition: width 0.5s ease-in-out;
}

.beginning-part small {
  font-size: 13px;
  margin-top: 10px;
}

.modal .modal-dialog .modal-content .modal-body .last-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.last-part .last-part-row1 {
  display: block;
  text-align: start;
  width: 47%;
}
.last-part .last-part-row2 {
  display: block;
  text-align: start;
  width: 47%;
}
.last-part input {
  width: 100%;
  color: #676a6c;
  border: 1px solid #e7eaec;
  padding: 6px 12px;
}
.modal .modal-dialog .modal-content .modal-footer .btn-exit {
  color: #676a6c;
  background-color: #fff;
  border: 1px solid #e7eaec;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-footer .btn-save {
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}

.comapanyGoals {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e7eaec;
  font-size: 12px;
}
.description span {
  font-size: 1.15em;
  font-weight: 600;
}
.description .more {
  width: 20px;
  cursor: pointer;
  font-weight: 700;
  color: #676a6c;
  text-decoration: none;
  margin: 5px 0px 0px 20px;
}
.description .comments {
  margin-top: 10px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
  width: 100%;
  background-color: #f4f6fa;
  padding: 10px 20px;
  color: #676a6c;
  border: solid #e7eaec 1px;
  margin-bottom: 20px;
}
.cmpNotCmp {
  width: 100%;
}
.pull-right {
  float: right;
}
.cmpNotCmp .row {
  width: 100%;
}
.cmpNotCmp .row .col {
  max-width: 25%;
}
.cmpNotCmp .row .col .completedNr {
  padding: 3px 8px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 1.25em;
  margin-right: 20px;
  border-radius: 0.25em;
  font-weight: 600;
}
.cmpNotCmp .row .col .notCompletedNr {
  padding: 3px 8px;
  background-color: #d1dade;
  color: #5e5e5e;
  font-size: 1.25em;
  margin-right: 20px;
  border-radius: 0.25em;
  font-weight: 600;
}

.cmpNotCmp .pull-right button {
  height: 22px;
  font-size: 12px;
  border-radius: 3px;
  padding: 1px 5px;
  color: inherit;
  background: #fff;
  border: 1px solid #e7eaec;
  vertical-align: middle;
}
.cmpNotCmp .pull-right button:hover {
  background: #e6e6e6;
}
.cmpNotCmp .users_values {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.goal-progress {
  margin-top: 20px;
  width: 100%;
  background: #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  height: 24px;
}

.goal-bar {
  height: 100%;
  border-radius: 6px;
  transition: width 0.5s ease;
}
