@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap");

body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: #f4f6fa;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4f6fa;
  height: fit-content;
}
.authUserBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.authUserHead {
  padding-top: 30px;
  width: 100%;
  text-align: start;
  padding-left: 35;
}
.authUserHead h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #676a6c;
  font-size: 24px;
  align-items: center;
}
.authUserTableHead {
  background-color: #e3f2fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 95%;
  margin-left: 10px;
  margin-top: 20px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}
.authUserTableHead h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #676a6c;
  font-size: 14px;
  font-weight: 600;
  width: 240px;
  height: 25px;
}

.authUserTableHead #addAuthUser {
  background-color: #4caf50;
  color: white;

  height: 30px;
  border: #4caf50;
  border-radius: 2px;
}
.authUserTableHead button a {
  text-decoration: none;
  color: white;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.authUserTableBody {
  margin-bottom: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  width: 95%;
  border: 1px solid #e7eaec;
}
.authorisedUseres {
  width: 95%;
  border-collapse: collapse;
  margin: 20px 10px;
  font-size: 13px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.authorisedUseres head tr {
  text-align: left;
  font-weight: 600;
  color: #676a6c;
  font-size: 13px;
}
.authorisedUseres thead tr th {
  padding: 8px;
  text-align: left;
  margin-right: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  color: #676a6c;
}
.authorisedUseres tbody tr {
  text-align: left;
  font-weight: 400;
  color: #676a6c;
  border-top: 1px #e7eaec solid;
}
.authorisedUseres tbody tr td {
  padding-bottom: 11px;
  font-size: 13px;
  font-weight: 400;
  min-width: 120px;
  padding: 8;
}


.authorisedUseres tbody tr td #editAuthUser { 
  background-color: #4caf50;
  color: white;
  height: 30px;
  border: #4caf50;
  border-radius: 2px;
  padding: 2px 10px;
}   
.authorisedUseres tbody tr td #editAuthUser a{
  text-decoration: none;
  color: inherit;
}
.authorisedUseres tbody tr:nth-child(odd){
  background-color: #f9f9f9;
}
.authorisedUseres tbody tr:hover{
  background-color: #f9f9f9;
}