@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap');

body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #F4F6FA;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F4F6FA;
    height: fit-content;
}
.name{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    padding:0 15 0 15 ;
}
.name h2{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #676A6C;
    font-size: 24px;
}   
.clocks{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 50px;
}
.clock1{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    background-color: white;
    margin-right: 10px;
    border: solid 0.5px #e7eaec;
}
.clock1-1{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-align: start;
    padding: 5px;
}
.clock1-1 a{
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
}
.clock1-2{
    margin-left: 25px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
}
.clock1-2 h2{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #4caf50;
    margin-left: 5px;
}

.clock2{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    background-color: white;
    border: solid 0.5px #e7eaec;
}
.clock2-1{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-align: start;
    padding: 5px;
}
.clock2-1 a{
    margin-left: 20px;
    font-size: 15px;
    text-decoration:none;
}
.clock2-2{
    margin-left: 25px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.clock2-2 h2{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #676A6C;
    margin-left: 5px;
}
.usersData{
    width: 98%;
    background-color: white;
    border: 1px solid #e7eaec;
    margin-bottom: 60px;
}
.filters{
    background-color: #E3F2FD;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 7px;
  
}
.filters h5{
    font-size: 15px;
    color: #676A6C;
    margin-left: 10px;
    font-weight: 600;
}
.addFilter{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 29.6px;
    color: #c4c4c4;
    background: #fff;
    border: 1px solid #e7eaec;
    padding: 10px;
}
.addFilter a{
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.addFilter i{
    font-size: 12px;
    margin-top: -2px;
    color: #c4c4c4;
}
.serachBar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.search-box{
    padding: 10px;
    width: 90%;
    height: 35px;
    border: solid 0.5px #e7eaec;
    border-radius: 4px;
    color: black;
}

.serachBar button{
    border: solid 0.5px #4caf50;
    width: 8%;
    background-color: #4caf50;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.userTable {
    padding: 10px;
    width: 100%;
    margin-bottom:10px;
  
}
.userTable thead{   
    font-size: 13px;
    font-weight: bold;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #676A6C;
    text-align: center;
}
.userTable tbody{
    text-align: center;
}
.userTable tbody tr{
    height: 60px;
    border-bottom: #e7eaec solid 1px;
    font-size: 13px;
    font-weight: 400;
    
}
.userTable tbody tr td:nth-child(3){
    font-style: italic;
}
.userTable tbody tr:nth-child(even){
    background-color: #f9f9f9;
}
a{
    text-decoration: none;
}
.pagination{
    padding: 20px;
}
.pagination ul{
padding: 0;
display: flex;
flex-direction: row;
list-style: none;
border: 1px solid #ddd;
border-radius:3px ;
color: #777;
}
.pagination ul li{
    padding: 0;
    border-left: 1px solid #ddd;
    text-align: center;
}
.pagination ul li:nth-child(1){
    border: none;
}
.pagination ul li a{
    padding: 4px 10px 4px 10px;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #777;
}
.pagination ul li:hover{
    background-color: #f4f4f4;
}