@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap");

body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: #f4f6fa;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4f6fa;
  height: fit-content;
}
.expensesBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.expensesHead {
  padding-top: 30px;
  width: 100%;
  text-align: start;
  padding-left: 35;
}
.expensesHead h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #676a6c;
  font-size: 24px;
  align-items: center;
}
.expensesTableHead {
  background-color: #e3f2fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 95%;
  margin-left: 10px;
  margin-top: 20px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}
.expensesTableHead h5 {
  display: flex;
  align-items: center;
  color: #676a6c;
  font-size: 14px;
  font-weight: 600;
  width: 240px;
  height: 25px;
}
.expensesTableHead h5 img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.expensesTableHead #addExpenseCategory {
  background-color: #4caf50;
  color: white;

  height: 30px;
  border: #4caf50;
  border-radius: 2px;
}
.expensesTableHead button a {
  text-decoration: none;
  color: white;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.expensesTableBody {
  margin-bottom: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  width: 95%;
  border: 1px solid #e7eaec;
  padding: 20px;
}
#theGoal {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e7eaec;
  padding: 10px 0px;
}
#Goal2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#description {
  display: flex;
  flex-direction: column;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#description2 {
  display: flex;
  flex-direction: row;
}
#description2 h5 {
  font-size: 14px;
  font-weight: 600;
  color: #0d6efd;
}
#description small {
  font-size: 12px;
  color: #676a6c;
}
.dots-menu {
  position: relative;
  display: inline-block;
}
.dots {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #676a6c;
}
.menu {
  width: 150px;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 12px;
  background: #fff;
  color: #676a6c;
  border-radius: 4px;
  border: 1px solid #e7eaec;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}
.menu a i {
  margin-right: 10px;
}
.menu a:last-child {
  color: #e53935;
}
.menu a:hover {
  background-color: #f0f0f0;
}

.comments {
  border-radius: 4px;
  font-size: 12px;
  display: none;
  width: 100%;
  background-color: #f4f6fa;
  padding: 10px;
  color: #676a6c;
  border: solid #e7eaec 1px;
  margin-bottom: 20px;
}
.more-comments .more {
  display: flex;
  width: 20px;
  rotate: 90deg;
  cursor: pointer;
  font-weight: 700;
  color: #676a6c;
}
.empty_space {
  height: 10px;
  width: 100%;
  border-radius: 4px;
  width: 100%;
  background-color: #f4f6fa;
  padding: 10px;
  color: #676a6c;
  margin-bottom: 40px;
}
#theGoal hr {
  color: #e7eaec;
  margin-top: 40px;
}

.modal-dialog {
  min-width: 600px;
}
.modal .modal-dialog .modal-content {
  border-radius: 0px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 30px 15px;
  text-align: center;
  display: block;
}
.modal .modal-dialog .modal-content .modal-header h4 {
  font-size: 26px;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-header .close {
  margin-top: -2px;
  border: none;
  background-color: transparent;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity = 20);
  opacity: 0.2;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 20px;
  background-color: #f4f6fa;
}
.modal .modal-dialog .modal-content .modal-body label{
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  color: #676a6c;
  margin-bottom: 5px;
}

.modal .modal-dialog .modal-content .modal-body .beginning-part {
  display: block;
  text-align: center;
  border-bottom: 2px solid #e7eaec;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}
.beginning-part img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.beginning-part h5 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #0d6efd;
}
.beginning-part p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.beginning-part small {
  font-size: 13px;
  margin-top: 10px;
}
.modal .modal-dialog .modal-content .modal-body .mid-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #e7eaec;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.mid-part .mid-part-col1{
  width: 100%;
  display: block;
  text-align: start;
  margin-bottom: 10px;
}
.mid-part .mid-part-col2{
  margin-top: 10px;
  width: 50%;
  display: block;
  text-align: start;
}
.mid-part textarea{
  width: 100%;
  color: #676a6c;
  border: 1px solid #e7eaec;
  padding: 6px 12px;
}
.mid-part .value{
  width: 100%;
  color: #676a6c;
  border: 1px solid #e7eaec;
  padding: 6px 12px;
}
.modal .modal-dialog .modal-content .modal-body .last-part{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.last-part .last-part-row1{
  display: block;
  text-align: start;
  width: 47%;
}
.last-part .last-part-row2{
  display: block;
  text-align: start;
  width: 47%;
}
.last-part input{
  width: 100%;
  color: #676a6c;
  border: 1px solid #e7eaec;
  padding: 6px 12px;
}
.modal .modal-dialog .modal-content .modal-footer .btn-exit{
  color: #676a6c;
  background-color: #fff;
  border: 1px solid #e7eaec;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-footer .btn-save{
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}