@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap");

#sidebar {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #0277bd;
  width: 220px;
  height: 100%;
  transition: all .4s;
}

#sidebarElements {
  padding: 0;
  width: 100%;
  list-style: none;
}
#sidebarElements #profile {
  padding: 35px 25px 25px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/sidebarheader.png");
}
#sidebarElements #profile .profile-element {
  width: 100%;
  
  text-align: center;
  position: relative;
}
#sidebarElements #profile .profile-element-image {
  text-align: center;
}
#sidebarElements #profile img {
  width: 48px;
  border-radius: 50%;
}
#sidebarElements #profile .profile-element-name {
  display: block !important;
  text-align: center;
  margin-top: 5px;
}
#sidebarElements #profile .profile-element-name strong{
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

#sidebarElements #profile .logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: none;
  padding: 18px 0px;
}


#sidebarElements li {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 15px;
}
#sidebarElements li.active {
  background: #0267a4;
  border-left: 4px solid #1e88e5;
}

#sidebarElements li a {
  color: #e0e0e0;
  width: 100%;
  padding: 14px 20px 14px 25px;
  text-decoration: none;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

#sidebar i {
  margin-right: 6px;
}
#sidebarElements li a:hover {
  background: #0271b3;
  color: #fff;
}
.dropdown {
  padding: 0px;
  width: 100%;
  list-style: none;
  margin: 5px 0;
  display: none;
  background: #0267a4;
  position: relative; /* Important for default flow */
  transition: all 0.2s ease;
}
#sidebarElements li .dropdown li a {
  padding: 7px 10px 7px 52px;
  cursor: pointer;
  color: #e0e0e0;
  text-decoration: none;
  display: block;
}


#sidebar.shrink {
  width: auto;
  transition: all .4s;
}

#sidebar.shrink span{
  display: none;
}
#sidebar.shrink #sidebarElements #profile {
  padding: 0;
  height: auto;
}
#sidebar.shrink #sidebarElements li .sidebarElements-links{
  font-size: 16px;
}

#sidebar.shrink #sidebarElements #profile .profile-element {
  display: none;
}
#sidebar.shrink #sidebarElements #profile .logo-element {
  display: block;
}


#sidebar.shrink .dropdown {
  padding: 10px;
  margin-left: 69px; 
  min-width: 160px;
  max-width: 160px;
  position: absolute;
  background: #0277bd;
}
#sidebar.shrink ~ .dropdown,
#sidebar.shrink .dropdown li a{
  font-size: 12px;
  padding: 10px 10px 10px 15px;
}