@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap');

#request-container{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    background-color: #F4F6FA;
    
}
*{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#company-Name{
    width: 100%;
    padding-left: 50px;
    
}
#company-Name h2{
    font-weight: 100;
    color: #676A6C;
    font-size: 24px;
}
#request-Content{
    padding:15 20 20 20;
    width: 986px;
    height: 783px;
    background-color: white;
    border: 1px solid #e7eaec;
    margin-bottom: 10px;
}

#request-Content h2{
    font-weight: 100;
    color: #676A6C;
    font-size: 24px;
}
#request-Content h2 img{
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 10px;
}
#space-div{
    height: 50px;
    border-top: #e7eaec dashed 1px;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;

}
label{
    font-weight: 700;
    max-width: 100%;
    display: inline-block;
    font-size: 13px;
    color: #676A6C;
    margin-bottom: 5px;
}
form .rowShortDescription{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}
form .rowReason{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}
form #row{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 20px;
}
form .row #rowLH{
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}

form .row #rowLH p{
    width: 275px;
    border: #e7eaec 1px solid;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #676A6C;
}
form .row #rowLH p :first-child{
    font-weight: 600;
    color: #26c6da;
}
form .row #rowLH p :last-child{
    font-weight: 600;
    color: #2196f3;
}
form .row #rowLeaveType{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}
form .row #rowLeaveType select{
   background-color: #F4F6FA;
   border: #e7eaec 1px solid;
   color: #676A6C;
   padding-left: 8px;
   width: 295px;
   height: 36px;
   font-size: 13px;
}

form .row .row2{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}
form .row .row2 input{
    width: 295px;
    height: 36px;
    padding: 6 12 6 12;
    font-size: 13px;
    background-color: #F4F6FA;
    border: #e7eaec 1px solid;
    color: #676A6C;
 
}
form .row .row2 p{
    margin-top: 5;
    margin-bottom: 10px;
    font-size: 13px;
    color: #2196f3;
}
form .rowShortDescription #rowShortDescription2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}
form .rowShortDescription #rowShortDescription2 input{
    height: 36px;
    padding: 6 12 6 12;
    font-size: 13px;
    background-color: #F4F6FA;
    border: #e7eaec 1px solid;
    color: #676A6C;
}
form .rowReason #rowReason2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}
form .rowReason #rowReason2 input{
    height: 114px;
    padding: 6 12 6 12;
    font-size: 13px;
    background-color: #F4F6FA;
    border: #e7eaec 1px solid;
    color: #676A6C;
}
form #btn-row{
    height: 33px;
    width: 960px;
    display: flex;
    flex-direction:row;
    justify-content: end;
    padding-left: 15px;
}


form #btn-row button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
form #btn-row :first-child{

    background-color: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
    border-radius: 3px;

}
form #btn-row :last-child{

    background-color: transparent;
    color: #337ab7;
    border:none;
    border-radius: 3px;
    margin-right: 5px;
}
#space-div2{
    height: 50px;
    border-top: #e7eaec dashed 1px;
}
