@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap");

body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: #f4f6fa;
  font-size: 13px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4f6fa;
  height: fit-content;
}
.pinBoardBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 20px;
}
.pinBoardHead {
  padding-top: 30px;
  width: 100%;
  text-align: start;
  padding-left: 35px;
}
.pinBoardHead h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #676a6c;
  font-size: 24px;
  align-items: center;
}
.intro {
  font-size: 13.5px;
  width: 95%;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.intro .pull-right {
  float: right;
}
.intro p {
  color: #676a6c;
  margin: 0px 0px 10px;
  padding-right: 10px;
}

.intro button {
  margin-left: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
  outline: 0;
}
.modal-dialog {
  min-width: 600px;
}
.modal .modal-dialog .modal-content {
  border-radius: 0px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 30px 15px;
  text-align: center;
  display: block;
}
.modal .modal-dialog .modal-content .modal-header h4 {
  font-size: 26px;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-header .close {
  margin-top: -2px;
  border: none;
  background-color: transparent;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity = 20);
  opacity: 0.2;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 20px;
  background-color: #f4f6fa;
}
.modal .modal-dialog .modal-content .modal-body label {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  color: #676a6c;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 0;
}

.modal .modal-dialog .modal-content .modal-body .beginning-part {
  font-size: 13px;
  display: block;
  text-align: center;
  border-bottom: 2px solid #e7eaec;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}
.modal .modal-dialog .modal-content .modal-body .last-part {
  font-size: 13px;
  display: block;
  text-align: start;
  padding: 0 10px 10px 10px;
}
.last-part small {
  font-size: 85%;
}
.beginning-part .row {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.beginning-part .row .counter {
  width: auto;
  padding: 0;
}

.beginning-part .row input {
  width: 100%;
  height: 30px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 13px;
  border: 1px solid #e5e6e7;
  padding: 6px 12px;
  height: 34px;
  color: inherit;
}
.modal .modal-dialog .modal-content .modal-footer .btn-save {
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-footer .btn-exit {
  color: #676a6c;
  background-color: #fff;
  border: 1px solid #e7eaec;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}
.beginning-part .row input:focus {
  border-color: #4caf50;
  outline: 0;
}
.beginning-part .row textarea {
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 13px;
  border: 1px solid #e5e6e7;
  padding: 6px 12px;
  color: inherit;
}
.beginning-part .row textarea:focus {
  border-color: #4caf50;
  outline: 0;
}
.pinBoard {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  width: 95%;
}
.notes {
  width: 100%;
  float: right;
}
.notes li {
  margin: 10px 40px 50px 0px;
  list-style: none;
  float: left;
}
.notes li div {
  display: block;
  position: relative;
  transform: rotate(-6deg);
  width: 210px;
  height: 210px;
  background-color: #ffc;
  color: #000;
  text-decoration: none;
  padding: 1em;
  box-shadow: 5px 7px 7px rgba(33, 33, 33, 0.7);
  transition: transform 0.15s linear;
}
.notes li div:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 5;
}
.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
.notes li div h4 {
  font-weight: 500;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
.notes li div p {
  font-size: 12px;
  margin: 0px 0px 10px;
}
.notes li div a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: inherit;
  font-size: 12px;
}
