@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap');
.requestBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.requestHead{
    width: 100%;    
    text-align: start;
}
.requestHead h2{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #676A6C;
    font-size: 24px;
    align-items: center;
}


.requestTableHead{
    background-color: #E3F2FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 95%;
    margin-left: 10px;
    margin-top: 20px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;

}
.requestTableHead h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #676A6C;
    font-size: 14px;
    font-weight: 600;
    width: 240px;
    height: 25px;
}

.requestTableHead button{
    background-color: #4caf50;
    color: white;
    width: 200px;
    height: 30px;
    border: #4caf50;
    border-radius: 2px;

}
.requestTableHead button a{
    text-decoration: none;
    color: white;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.requestTableBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    width: 95%;
    border: 1px solid #e7eaec;
}
.recentLeave{
    width: 95%;
    border-collapse: collapse;
    margin: 20px 10px;
    font-size: 13px;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.recentLeave head tr{
    text-align: left;
    font-weight: 600;
    color: #676a6c;
    font-size: 13px;
}
.recentLeave thead tr th {
    text-align: left;
    margin-right: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #676A6C;
}
.recentLeave tbody tr{
    text-align: left;
    font-weight: 400;
    color: #676A6C;
    border-top:  1px #e7eaec solid;
}
.recentLeave tbody tr td{
    padding-bottom: 11px;
    font-size: 13px;
    font-weight: 400;
    min-width: 120px;

}
.recentLeave tbody tr td .approved{
    background-color: #4caf50;
    color: #fff;
    border: #4caf50;
    border-radius: 2px;
    font-size: 10px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-align: center;


}
.recentLeave tbody tr td .submited{
    background-color: #337ab7;
    color: #fff;
    border: #337ab7;
    border-radius: 2px;
    font-size: 10px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-align: center;

}
.recentLeave tbody tr td .decline{
    background-color: #e53935;
    color: #fff;
    border: #e53935;
    border-radius: 2px;
    font-size: 10px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-align: center;

}
.recentLeave tbody tr td .info{
    width: 50px;
    height: 25px;
    color: #26c6da;
    border:1px solid #26c6da;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding:1px 5px ;
    text-align: center;
    text-decoration: none;

}
.recentLeave tbody tr td .info:hover{
    background-color: #26c6da;
    color: #fff;
}
.recentLeave tbody tr td .delete{
    width: 50px;
    height: 25px;
    color: #e53935;
    border:1px solid #e53935;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding:1px 5px ;
    text-align: center;
    text-decoration: none;

}
.recentLeave tbody tr td .delete:hover{
    background-color: #e53935;
    color: #fff;
}
.recentLeave tbody tr td ul{
    list-style: none;
    font-size:11px ;
}
.recentLeave tbody tr td ul li:nth-child(odd){
    font-size: 13px;
    font-weight: 700;
}


.recentLeave tbody tr:nth-child(odd){
    background-color: #f9f9f9;
}
.recentLeave tbody tr:hover{
    background-color: #f9f9f9;
}

.modal.fade-requestInfoModal .modal-dialog .modal-content{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.modal.fade-requestInfoModal .modal-dialog .modal-content .modal-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.modal.fade-requestInfoModal .modal-dialog .modal-content .modal-header :first-child{
font-weight: 600;
font-size: 26px;
color: #676A6C;

}
.modal.fade-requestInfoModal .modal-dialog .modal-content .modal-header :last-child{
    font-size: 7px;
    font-weight: bold;
    margin-left: 25%;
}

.modal.fade-requestInfoModal .modal-dialog .modal-content .modal-body .requestInfoIcones{
    
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.modal.fade-requestInfoModal .modal-dialog .modal-content .modal-body .requestInfoIcones i {
    width: 31px;
    height: 31px;
    padding: 6px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
}
.modal.fade-requestInfoModal .modal-dialog .modal-content .modal-body .requestInfoIcones p{
    padding: 0px;
    margin:0px 0px 0px 15px;
}

