@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap');
.requestBody{
    display: flex;
    flex-direction: column;
}
.requestHead{
    width: 100%;
    margin-bottom: 20px;
    text-align: start;
}
.requestHead h2{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #676A6C;
    font-size: 24px;
    align-items: center;
}


.requestTableHead{
    background-color: #E3F2FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;

}
.requestTableHead h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #676A6C;
    font-size: 14px;
    font-weight: 600;
    width: 240px;
    height: 25px;
}

.requestTableHead button{
    background-color: #4caf50;
    color: white;
    width: 200px;
    height: 30px;
    border: #4caf50;
    border-radius: 2px;

}
.requestTableHead button a{
    text-decoration: none;
    color: white;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
