@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300&display=swap");

body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: #f4f6fa;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4f6fa;
  height: fit-content;
}
#companyName{
  padding-top: 30px;
  width: 100%;
  text-align: start;
  padding-left: 35;
}
#companyName h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #676a6c;
  font-size: 24px;
  align-items: center;
}

#expenseBody{
  display: flex;
  flex-direction:row;
  width: 100%;
  padding: 35px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676A6A;
}
#theExpenseContent{
  width: 75%;
 display: flex;
 flex-direction: column;
 margin-right: 20px;

}
#theExpenseContent label{
  font-size: 13px;
  font-weight: 700;
}
#text{
  border: 1px solid #e7eaec;
   background-color: #fff;
}
#Expense_Claim{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 48px;
  padding: 15 15 7 15;
  background-color: #e3f2fd;
  border: 1px solid #e7eaec;
}
#Expense_Claim h5{
  font-size: 14px;
  font-weight: 600;
}
#Expense_Claim #Submited{
  
  color: #fff;
  background-color: #26c6da;
  border-color: #26c6da;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  padding: 1px 8px 0px 8px;
  text-align: center;
  height: 16px;
}
#Expense_Claim #Approved{
  
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  padding: 1px 8px 0px 8px;
  text-align: center;
  height: 16px;
}
#Expense_Claim #Declined{
  
  color: #fff;
  background-color: #e53935;
  border-color: #e53935;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  padding: 1px 8px 0px 8px;
  text-align: center;
  height: 16px;
}
#Expense_ClaimBody{
  padding: 20px;
}
#user{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
#user #userImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#user #userName{
font-size: 14px;
font-weight: 600;
}

#user #userName p{
  padding: 0;
  margin: 0;
}
#description{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
#description input{
  margin-top: 5px;
  padding: 6px 12px;
  background-color: #f4f6fa;
  border: 1px solid #e7eaec;
  color: #676A6A;
  font-size: 14px;
}
#comments{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
#comments textarea{
  margin-top: 5px;
  padding: 6px 12px;
  height: 150px;
  background-color: #f4f6fa;
  border: 1px solid #e7eaec;
  color: #676A6A;
  font-size: 14px;
}
#date{
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.date_row{
  width: 32%;
  display: flex;
  flex-direction: column;
}
.date_row input{
  margin-top: 5px;
  padding: 6px 12px;
  background-color: #f4f6fa;
  border: 1px solid #e7eaec;
  color: #676A6A;
  font-size: 14px;
}
#bill{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px 0px 20px 0px;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}
#bill table{
  width: 70%;
   font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676A6A;
}
#bill table thead th{
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 700;
}
#bill table tbody tr:first-child{
  background-color: #f9f9f9;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}
#bill table tbody tr td{
  padding: 5px 25px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}
#bill table tbody tr td h3{
  font-weight: 100;
}

#receipts{
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
}
#receipts #card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 175px;
  border: 1px solid #e7eaec;
}
#card #cardpartone{
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 10px;
}
#card #cardpartone img{
  width: 90px;
  height: 75px;
}
#card #cardpartwo{
  padding: 5px;
  width: 100%;
  height: 40%;
  background-color: #f9f9f9;
  border-top: 1px solid #e7eaec;
}
#card a{
  font-size: 12px;
 
}
#reimbursementAmount{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
#reimbursementAmount input{
  text-align: right;
  width: 300px;
  margin-top: 5px;
  padding: 6px 12px;
  border: 1px solid #e7eaec;
  color: #676A6A;
  font-size: 14px;
}
#butons{
  width:100%;
  margin-bottom: 80px;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#butons button{
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
  border: solid 1px;
  
}
#approve{
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
}
#reject{
  color: #fff;
  background-color: #e53935;
  border-color:#e53935;
}
#cancel{
  text-decoration: none;
  color: #676A6A;
  background-color: #fff;
  border-color: solid #e7eaec 1px;
  padding: 6 12;
  border-radius: 3px;
  font-size: 14px;
}
#theExpenseDates{
  border: solid #e7eaec 1px;
  width: 25%;
  background-color: #fff;
  height: 120px;
  padding: 25px;
  font-size: 12px;
  color: #676A6A;
  
}
#theExpenseDates p{
  padding: 0;
  margin: 0;
  
}
#createdAt{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  
}
#createdAt i{
  color: #fff;
  background-color:#26c6da ;
  font-size: 13px;
  padding: 6px;
  border-radius: 50%;
  margin-right: 5px;
}
#sentTo{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  
}
#sentTo i{
  color: #fff;
  background-color:blue ;
  font-size: 13px;
  padding: 6px;
  border-radius: 50%;
  margin-right: 5px;
}